ipython>=8.10
jupyterlab>=3.0
notebook
kedro[jupyter]~=1.0.0
git+https://github.com/kedro-org/kedro-datasets.git[pandas-csvdataset,pandas-exceldataset,pandas-parquetdataset,spark-sparkdataset,plotly-plotlydataset,plotly-jsondataset,matplotlib-matplotlibwriter]@main#egg=kedro-datasets
kedro-viz>=6.7.0
scikit-learn~=1.5.1
seaborn~=0.12.1
setuptools; python_version >= "3.12"
